.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: -2;
    padding: 22px 24px;
    border-radius: 8px;

    span {
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        color: $white;
    }
}
