.section {
	&.debate-section {
		background-image: -webkit-linear-gradient(
			325deg,
			#4dc697 0%,
			#028689 55%,
			#037c83 100%
		);
		background-image: linear-gradient(
			325deg,
			#4dc697 0%,
			#028689 55%,
			#037c83 100%
		);
		.cta-container {
			a {
				background-image: -webkit-linear-gradient(
					325deg,
					#4dc697 0%,
					#028689 55%,
					#037c83 100%
				);
				background-image: linear-gradient(
					325deg,
					#4dc697 0%,
					#028689 55%,
					#037c83 100%
				);
			}
		}
	}
}
