.section {
	&.freshin-section {
		background-image: -webkit-linear-gradient(
			325deg,
			#fad8bb 0%,
			#f5c09c 55%,
			#de9972 100%
		);
		background-image: linear-gradient(
			325deg,
			#fad8bb 0%,
			#f5c09c 55%,
			#de9972 100%
		);
		.cta-container {
			a {
				background-image: -webkit-linear-gradient(
					325deg,
					#fad8bb 0%,
					#f5c09c 55%,
					#de9972 100%
				);
				background-image: linear-gradient(
					325deg,
					#fad8bb 0%,
					#f5c09c 55%,
					#de9972 100%
				);
			}
		}
	}
}
