.section {
	&.scrollstack-section {
		background-image: -webkit-linear-gradient(
			325deg,
			#008fd2 0%,
			#024aa9 100%
		);
		background-image: linear-gradient(325deg, #008fd2 0%, #024aa9 100%);
		.cta-container {
			a {
				background-image: -webkit-linear-gradient(
					325deg,
					#008fd2 0%,
					#024aa9 100%
				);
				background-image: linear-gradient(
					325deg,
					#008fd2 0%,
					#024aa9 100%
				);
			}
		}
	}
}
