@import "./dark_mode_modules/dm_hero_section";
@import "./dark_mode_modules/dm_selected_work_base";

body {
    &.dark-mode {
        background-color: $dark-bg;
        a {
            color: $white;
            &.highlighted-link {
                color: $medium-orange;
            }
        }
        .button {
            background-color: $blue;
            &.outlined-button {
                background-color: transparent;
                border-color: lighten($dark-card, 10%);
                span {
                    color: $dark-text;
                }
            }
            span {
                color: $white;
            }
        }
        .main-navigation {
            background: $dark-bg;
        }
        .highlighted-text {
            color: $blue;
            &.green-highlighted-text {
                color: $green;
            }
            &.yellow-highlighted-text {
                color: $yellow;
            }
        }
    }
}
