// Blinking stars animation

.blinking-star {
    -webkit-animation: blink-animation 2.35s infinite,
        scale-animation 2.35s infinite;
    animation: blink-animation 2.35s infinite, scale-animation 2.35s infinite;
}

.star-2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.star-3 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@-webkit-keyframes blink-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes blink-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// Scale animation

@-webkit-keyframes scale-animation {
    0% {
        transform: scale(0.5, 0.5);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.5, 0.5);
    }
}
@keyframes scale-animation {
    0% {
        transform: scale(0.5, 0.5);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.5, 0.5);
    }
}

// Infinite animation

@keyframes progress-forward {
    0% {
        width: 0%;
    }
    25% {
        width: 50%;
    }
    50% {
        width: 75%;
    }
    75% {
        width: 85%;
    }
    100% {
        width: 100%;
    }
}

// Scrollstack cards animation

@keyframes cards-animation {
    0% {
        transform: scale(0.75);
        z-index: 0;
    }
    9% {
        transform: scale(0.9) translateY(40px);
        z-index: 2;
    }
    33% {
        transform: scale(0.9) translateY(40px);
        z-index: 2;
    }
    42% {
        transform: translateY(80px);
        z-index: 3;
    }
    66% {
        transform: translateY(80px);
        z-index: 3;
        opacity: 1;
    }
    75% {
        transform: translateY(130px);
        opacity: 0;
    }
    80% {
        transform: scale(0.75) translateY(40px);
        opacity: 0;
        z-index: 1;
    }
    90% {
        transform: scale(0.75);
        opacity: 1;
        z-index: 1;
    }
}
