img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
    outline: none;
}
