$black: #000000;
$white: #ffffff;
$gray: #ececec;
$gray-100: #fafafa;
$blue: #1f63d6;

// Dark mode specific

$yellow: #ffa012;
$yellow-100: #fdf3a3;
$medium-orange: #d2934e;
$green: #168039;
$dark-bg: #121212;
$dark-link: #574ed2;
$dark-blue: #4e43d7;
$purple: #531ad5;
$dark-card: #1c1c1c;
$dark-card-600: #191919;
$dark-text: #f1f1f1;
$dark-highlight: #0e0e0f;
$dark-line: #363636;

$paper-100: #ede7d8;

// Brand colors

$linkedin-color: #0a66c2;
$instagram-color: #e1306c;

@mixin Poppins() {
    font-family: "Poppins", sans-serif;
}
@mixin Roboto() {
    font-family: "Roboto", sans-serif;
}
@mixin Raleway() {
    font-family: "Raleway", sans-serif;
}
@mixin Lato() {
    font-family: "Lato", sans-serif;
}
@mixin Serif() {
    font-family: "DM Serif Display", serif;
}
@mixin IBMSerif() {
    font-family: "IBM Plex Serif", serif;
}
@mixin Sans() {
    font-family: "Noto Sans", sans-serif;
}

// Media Query Handler

$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop: $breakpoint-tablet + 1px;

@mixin screen($size, $type: max, $pixels: $breakpoint-mobile) {
    @if $size == "mobile" {
        @media screen and ($type + -width: $breakpoint-mobile) {
            @content;
        }
    } @else if $size == "tablet" {
        @media screen and ($type + -width: $breakpoint-tablet) {
            @content;
        }
    } @else if $size == "only-tablet" {
        @media screen and (min + -width: $breakpoint-mobile + 1px) and ($type + -width: $breakpoint-tablet) {
            @content;
        }
    } @else if $size == "tablet-and-desktop" {
        @media screen and (min + -width: $breakpoint-mobile + 1px) {
            @content;
        }
    } @else if $size == "desktop" {
        @media screen and (min + -width: $breakpoint-desktop) {
            @content;
        }
    } @else if $size == "custom" {
        @media screen and ($type + -width: $pixels + px) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin dark-mode {
    body.dark-mode & {
        @content;
    }
}
