$black: #000000;
$white: #ffffff;
$blue: #3366cc;
$darkest-blue: #0f3057;
$gray: #808080;
$green: #0b9e33;
$light-orange: #ff9c00;
$orange: #f39233;
$light-gray: #d3d3d3;
$lightest-gray: #ececec;
$silver: #c0c0c0;
$dark-main-background: #1f2029;
$dark-main-secondary: #1b1b23;
$darkest-black: #121212;
$dark-background: #16171d;
$dark-card: #27292d;
$dark-text: #dadada;
$dark-highlight: #43464a;
$dark-blue-link: #6495f3;
$dark-orange: #ff7511;
