$assets-base: ".." !default;

$stack-sprite: $assets-base + "/img/mainSprite.png";
$stack-sprite-2x: $assets-base + "/img/mainSprite_2x.png";
$stack-sprite-3x: $assets-base + "/img/mainSprite_3x.png";

.icon {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background-image: url($stack-sprite);
	background-repeat: no-repeat;
}

// Retina (2x)

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	.icon {
		background-image: url($stack-sprite-2x);
		background-size: 900px 286px;
		-webkit-background-size: 900px 286px;
		-moz-background-size: 900px 286px;
	}
}

// Retina (3x)

@media only screen and (-webkit-min-device-pixel-ratio: 3),
	only screen and (min--moz-device-pixel-ratio: 3),
	only screen and (min-device-pixel-ratio: 3) {
	.icon {
		background-image: url($stack-sprite-3x);
		background-size: 900px 286px;
		-webkit-background-size: 900px 286px;
		-moz-background-size: 900px 286px;
	}
}
