// Common modules

@import "./selected_work_content";
@import "./selected_work_preview";

// Section specific

@import "./picto";
@import "./custom_domain";
@import "./ai_section";
@import "./scrollstack";

.selected-work-section {
    padding: 50px 30px;
    box-sizing: border-box;
    height: 100dvh;
    position: relative;
    &.is-highlighted {
        background-color: #fcfcff;
    }
    // &.is-highlighted-blue {
    //     background-color: rgba($blue, 0.04);
    // }
    // &.is-highlighted-yellow {
    //     background-color: rgba($yellow, 0.04);
    // }
    @include screen(tablet) {
        padding: 100px 30px;
        height: auto;
    }
    @include screen(mobile) {
        padding: 75px 30px;
        height: initial;
    }
}

.selected-work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 100dvh;
    max-width: 1200px;
    margin: 0 auto;
    @include screen(tablet) {
        gap: 120px;
        height: initial;
        flex-direction: column;
    }
}
