article {
    .article-header-container {
        margin: 150px auto 64px;
        max-width: 1200px;
    }

    .article-header-content {
        @include screen(tablet) {
            padding: 0 30px;
            box-sizing: border-box;
        }
        .article-header-title,
        .article-header-description {
            max-width: 810px;

            @include screen(only-tablet) {
                max-width: 640px;
            }
        }
        .article-header-title {
            @include Serif();
            font-size: 58px;
            line-height: 72px;
            @include screen(tablet) {
                font-size: 42px;
            }
            @include screen(mobile) {
                font-size: 28px;
                line-height: 140%;
            }
        }
        .article-header-description {
            @include IBMSerif();
            font-size: 20px;
            line-height: 34px;
            margin: 20px 0 30px;
            font-weight: 400;
            opacity: 0.6;
            @include screen(tablet) {
                margin: 25px auto;
                font-size: 18px;
            }
        }
    }

    .article-header-image {
        figure {
            margin: 64px auto;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            figcaption {
                @include Raleway();
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                margin: 10px 0;
                color: rgba($black, 0.7);
                text-align: center;
            }
        }
    }
    .article-header-mini-info-container {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;
            gap: 22px;

            margin: 0 auto;
            @include screen(only-tablet) {
                padding: 0;
                justify-content: flex-start;
            }
            @include screen(mobile) {
                border-top: 1px solid $gray;
                flex-direction: column;
                gap: 22px;
            }
        }
        li {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: $gray-100;
            border-radius: 22px;
            padding: 30px;
            box-sizing: border-box;
            gap: 8px;
            flex: 1;
            @include dark-mode {
                background-color: $dark-card-600;
            }
            @include screen(mobile) {
                border: none;
            }
        }
        h3 {
            @include Sans();
            font-size: 22px;
            line-height: 35px;
            font-weight: 600;
            @include screen(tablet) {
                font-size: 20px;
            }
            @include dark-mode {
                color: $dark-text;
            }
        }
        p {
            @include Sans();
            font-size: 20px;
            line-height: 31px;
            font-weight: 400;
            color: rgba($black, 0.7);
            @include screen(tablet) {
                font-size: 16px;
            }
            @include dark-mode {
                color: rgba($dark-text, 0.7);
            }
        }
    }
}
