article {
    .article-header-container {
        margin: 64px auto;
    }

    .article-header-content {
        @include screen(tablet) {
            padding: 0 30px;
            box-sizing: border-box;
        }
        .article-header-title,
        .article-header-description {
            max-width: 810px;
            margin: 0 auto;
            text-align: center;
            @include screen(only-tablet) {
                max-width: 640px;
            }
        }
        .article-header-title {
            @include Serif();
            font-size: 68px;
            line-height: 120%;
            @include screen(tablet) {
                font-size: 42px;
            }
            @include screen(mobile) {
                font-size: 28px;
                line-height: 140%;
            }
        }
        .article-header-description {
            @include IBMSerif();
            font-size: 20px;
            line-height: 150%;
            margin: 30px auto;
            font-weight: 400;
            @include screen(tablet) {
                margin: 25px auto;
                font-size: 18px;
            }
        }
        .article-header-mini-info-container {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 25px 0 0;
                max-width: 1024px;
                margin: 0 auto;
                @include screen(only-tablet) {
                    padding: 0;
                    justify-content: flex-start;
                }
                @include screen(mobile) {
                    border-top: 1px solid $gray;
                    flex-direction: column;
                    gap: 22px;
                }
            }
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16px;
                flex: 1;
                border-right: 1px solid $gray;
                &:last-of-type {
                    border: none;
                }
                @include screen(mobile) {
                    gap: 8px;
                    border: none;
                }
            }
            h3 {
                @include Serif();
                font-size: 24px;
                line-height: 140%;
                @include screen(tablet) {
                    font-size: 20px;
                }
            }
            p {
                @include IBMSerif();
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
                @include screen(tablet) {
                    font-size: 16px;
                }
            }
        }
    }

    .article-header-image {
        figure {
            margin: 64px 0;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                max-height: 576px;
            }
            figcaption {
                @include Raleway();
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                margin: 10px 0;
                color: rgba($black, 0.7);
                text-align: center;
            }
        }
    }
}
