article {
    .article-body {
        .article-body-container {
            max-width: 1200px;
            margin: 64px auto;
        }

        .article-body-content-wrapper {
            margin: 64px 0;
            @include screen(mobile) {
                margin: 32px 0;
                padding: 0 30px;
                box-sizing: border-box;
            }
        }
        h2,
        p,
        ul,
        ol {
            max-width: 680px;
            margin: 0 auto;
        }
        h2 {
            @include Serif();
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 16px;
            @include screen(tablet) {
                font-size: 20px;
            }
        }
        p {
            @include IBMSerif();
            font-size: 20px;
            font-weight: 400;
            line-height: 31px;
            margin: 0 auto 16px;
            letter-spacing: 0.099px;
            @include screen(tablet) {
                font-size: 16px;
            }
            &.highlighted-text-note {
                @include Poppins();
            }
            &.semi-bold {
                font-weight: 600;
            }
        }
        figure {
            img {
                width: 100%;
                height: auto;
                border-radius: 32px;
                object-fit: cover;
                @include screen(tablet) {
                    border-radius: 0;
                }
            }
            figcaption {
                @include Raleway();
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                margin: 10px 0;
                color: rgba($black, 0.7);
                text-align: center;
            }
        }
        .article-body-has-results {
            background-color: rgba($paper-100, 0.4);
            @include dark-mode {
                background-color: $dark-highlight;
            }
            .article-body-results-container {
                max-width: 1200px;
                margin: 0 auto;
                padding: 100px 30px;
                box-sizing: border-box;
                .article-body-content-wrapper {
                    margin: 0;
                }
                .screen-block {
                    figure {
                        margin: 64px auto;
                    }
                }
                .article-body-results-header-wrapper {
                    margin-bottom: 64px;
                }
                h2,
                p {
                    @include Poppins();
                    max-width: 880px;
                    margin: 0 auto;
                    @include dark-mode {
                        color: $dark-text;
                    }
                }
                h2 {
                    font-weight: 600;
                }
                p {
                    margin: 20px auto;
                    &.highlighted-text-note {
                        @include dark-mode {
                            color: $dark-highlight;
                        }
                    }
                }
                .article-body-results-title,
                .article-body-results-description {
                    @include Poppins();
                    max-width: 1020px;
                    margin: 0 auto;
                }
                .article-body-results-title {
                    font-size: 58px;
                    line-height: 72px;
                    font-weight: 600;
                    margin-bottom: 16px;
                    letter-spacing: 0.5px;
                    @include dark-mode {
                        color: $white;
                    }
                }
                .article-body-results-description {
                    opacity: 0.9;
                }
            }
        }
    }
}
