// PARTIALS INCLUDING STARTS HERE
@import "_header.scss";
@import "_browser_reset.scss";
@import "_grids.scss";
@import "mixin.scss";
@import "_cards.scss";

// PARTIALS INCLUDIN ENDS HERE

// ARTICLE COMMON STYLING STARTS HERE

* {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica", Arial,
		sans-serif !important;
}

strong {
	font-weight: bold;
}

.button {
	@include Sans();
	display: block;
	background-color: #36c;
	max-width: 325px;
	padding: 15px 30px;
	font-size: 16px;
	color: $white;
	font-weight: 500;
	line-height: 24px;
	text-decoration: none;
	border-radius: 8px;
	margin: 25px auto;
	box-shadow: 5px 0px 10px 2px rgba(155, 155, 155, 0.1),
		0px 5px 10px 2px rgba(155, 155, 155, 0.1);
}
.project-body {
	.multiple-inline-images {
		display: flex;
		flex-direction: row;
		img {
			width: 48%;
			margin-right: 30px;
			&:last-of-type {
				margin: 0;
			}
		}
	}
}
.rounded-corners-12 {
	border-radius: 12px;
}
.clearfix:after,
.clearfix:before {
	content: "";
	clear: both;
	display: table;
}
a {
	color: $blue;
	&.hyperlink {
		color: $black;
		text-decoration: underline;
		cursor: pointer;
	}
}

.list-style-disc {
	list-style: disc;
	margin-left: 30px;
}
.big-bold-text {
	font-size: 80px;
	line-height: 96px;
	color: $black;
	font-weight: 800;
}
.mauto {
	margin: 0 auto;
}

// ARTICLE COMMON STYLING ENDS HERE

// ARTICLE HEAD STYLING STARTS HERE

.project-header {
	border-top: 1px solid $gray-superlight;
	min-height: 40vh;
	padding: 50px 50px 20px 50px;
	box-sizing: border-box;
	position: relative;
}

.project-intro {
	margin: 0 auto 40px;
	padding: 0 15px;
	text-align: center;
	h2 {
		color: $black;
		font-size: 50px;
		font-weight: 500;
		line-height: 68px;
		padding-bottom: 10px;
	}
	span {
		font-size: 22px;
		line-height: 32px;
		font-weight: 300;
		color: $gray-light;
	}
}

// ARTICLE HEAD STYLING ENDS HERE

// ARTICLE BODY STYLING STARTS HERE

.project-body {
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	p {
		font-size: 18px;
		line-height: 34px;
		font-weight: 400;
		color: $gray-dark;
		margin: 20px 0;
		&.blockquote {
			padding-left: 15px;
			border-left: 5px solid $blue;
		}
		b {
			font-weight: bold;
		}
	}
	h3 {
		font-size: 24px;
		line-height: 36px;
		font-weight: 700;
		margin: 20px 0;
	}
	h4 {
		font-size: 18px;
		line-height: 32px;
		font-weight: bold;
		margin: 20px 0;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		&.mobile-view-image {
			width: 50%;
			margin: 0 auto;
		}
	}
}
.image-footer {
	font-size: 15px;
	line-height: 28px;
	display: block;
	margin: 15px 0;
	box-sizing: border-box;
	color: $gray-light;
	.hyperlink {
		color: $gray-light;
	}
	&.mobile-image-footer {
		text-align: center;
	}
}

.project-image {
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	img {
		width: 100%;
		box-sizing: border-box;
		border-radius: 15px;
	}
}

// ARTICLE BODY STYLING ENDS HERE

// MEDIA QUERY STARTS HERE

// MOBILES

@media (max-width: 767px) {
	.big-bold-text {
		font-size: 50px;
		line-height: 60px;
		margin-top: 1em;
	}
	.project-header {
		padding: 20px;
	}
	.project-intro {
		padding: 0;
		h2 {
			font-size: 35px;
			line-height: 44px;
		}
		span {
			font-size: 18px;
			line-height: 29px;
		}
	}
	.project-body {
		p {
			font-size: 16px;
			line-height: 28px;
		}
		h3 {
			font-size: 22px;
			line-height: 32px;
		}
		h4 {
			font-size: 16px;
			line-height: 28px;
		}
		img {
			&.mobile-view-image {
				width: 100%;
			}
		}
	}
	.project-image {
		img {
			border-radius: 4px;
		}
	}
	.image-footer {
		&.mobile-image-footer {
			text-align: left;
		}
	}
}
