@import "./modules/common/mixin";
@import "./modules/common/_browser_reset";
@import "./modules/common/main_navigation";
@import "./modules/common/cursor";
@import "./modules/common/typography";
@import "./modules/common/common_styles";
@import "./modules/common/animations";

@import "./modules/theme/dark_mode";
@import "./modules/ui_elements/button";
@import "./modules/ui_elements/toggle_switcher";
@import "./modules/ui_elements/work-cards-container.scss";
@import "./modules/ui_elements/toggle_switch";
@import "./modules/ui_elements/progress_bar";

html {
    cursor: none;
    user-select: none;
}

body {
    @include Poppins();
    height: 100dvh;
    font-family: "Lato", sans-serif;
    background-color: $white;
    margin: 0 auto;
}
a {
    color: $black;
    cursor: none;
    transition: 0.3s;
    text-decoration: none;
    &.highlighted-link {
        font-weight: 500;
        color: $dark-link;
    }
}
.section-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.hide-on-desktop {
    display: none;
    @include screen(mobile) {
        display: flex;
    }
}
.hide-on-mobile {
    display: flex;
    @include screen(mobile) {
        display: none;
    }
}
