@import "./modules/common/mixin.scss";

body {
    height: 100vh;
    font-family: "Lato", sans-serif;
}
.homepage-container {
    display: flex;
}
.homepage-image-wrapper {
    position: relative;
    flex: 1;
    img {
        width: 100%;
        height: auto;
    }
}
.homepage-content-wrapper {
    flex: 1;
    h1 {
        font-size: 32px;
        line-height: 48px;
    }
    p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
        &:last-of-type {
            margin: 0;
        }
    }
    a {
        color: $black;
    }
    em {
        margin-left: auto;
        font-size: 18px;
        margin-top: 20px;
    }
}
