@import "./modules/common/mixin.scss";

@import "./modules/selected_work_modules/selected_work_base";
@import "./modules/daily_ui_section";

.homepage-container {
    @include Lato();
    height: calc(100dvh - 80px);
    margin-top: 80px;
    position: relative;
}
.homepage-image-wrapper {
    position: relative;
    flex: 1;
    img {
        width: 100%;
        height: auto;
    }
}
.homepage-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: calc(100dvh - 80px);
    box-sizing: border-box;
    p {
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        font-weight: 600;
        color: rgba($black, 0.5);
        &.highlight {
            color: $black;
            font-weight: 700;
        }
        a {
            color: rgba($black, 0.85);
            font-weight: 600;
        }
    }
    a {
        color: $black;
        text-decoration: none;
    }
}

.hero-section {
    .hero-section-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        gap: 50px;
        height: 100%;
        position: relative;
        .scroll-down {
            border: 2px solid rgba($black, 0.65);
            border-radius: 20px;
            bottom: 60px;
            height: 43px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 25px;
            transition: opacity 0.5s ease;
            &::before {
                -webkit-animation: scrollDownAnimation 2s infinite;
                animation: scrollDownAnimation 2s infinite;
                background-color: rgba($black, 0.65);
                border-radius: 100%;
                content: "";
                height: 6px;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                top: 10px;
                width: 6px;
            }
        }
    }
    .hero-section-content,
    .hero-section-image-container {
        flex: 1;
    }
    .hero-section-content {
        @include screen(mobile) {
            padding: 0 30px;
            box-sizing: border-box;
        }
        .hero-section-title {
            @include Serif();
            font-size: 68px;
            line-height: 82px;
            @include screen(mobile) {
                font-size: 32px;
                line-height: 140%;
            }
        }
        .hero-section-description {
            @include Raleway();
            font-size: 20px;
            line-height: 32px;
            margin-top: 30px;
            font-weight: 400;
            opacity: 0.7;
            @include screen(mobile) {
                font-size: 18px;
                line-height: 28px;
                margin-top: 25px;
            }
        }
    }
    .hero-section-image-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        figure,
        picture {
            margin: 0;
            line-height: 0;
        }
        img {
            width: auto;
            height: 580px;
            border-radius: 24px;
        }
    }
}
.section-main-title-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
}
.section-main-title-container {
    transition: transform 0.3s ease;
    animation: moveLeftRight 720s linear infinite;
    animation-direction: normal;
    display: flex;
    gap: 30px;
    .section-main-title {
        @include Serif();
        font-size: 102px;
        line-height: 112px;
        text-align: center;
        text-wrap: nowrap;
        @include screen(mobile) {
            font-size: 52px;
            line-height: 53px;
        }
    }
}

.selected-work-cards-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20dvh;
}
@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media (max-width: 767px) {
    .homepage-content-wrapper {
        gap: 15px;
        padding: 0 30px;
        align-items: flex-start;
        p {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

@keyframes scrollDownAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
    }
    100% {
        opacity: 0;
    }
}
